a {
    text-decoration: none;
    color: black;
}

footer {
    height: 100%;
    background-color: black;
    text-align: center;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    /* padding: inherit; */
}

.navbar li {
    display: inline-block;
    padding: 15px 25px;
}

.navbar-active {
    background-color: green;
}

.navbar a {
    color: white;
}

.page-title {
    float: left;
    font-family: monospace;
    font-size: 300%;
}

.page-number {
    border-style: solid;
    color: green;
    float: right;
    font-family: monospace;
    font-size: 250%;
    margin-top: 0.8%;
    padding: 5px;
}

.category-title {
    font-size: 140%;
}