header,
{}

a {
    text-decoration: none;
    color: black;
}

.page-title {
    float: left;
    font-family: monospace;
    font-size: 300%;
}

.page-number {
    float: right;
    font-family: monospace;
    font-size: 200%;
}

.category-title {
    font-size: 140%;
}